@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ebebeb;
}

.section {
  padding: 0 1rem;
}

i {
  color: #fff;
  height: 2rem;
}

footer {
  background-color: rgb(69, 174, 69);
  height: 4rem;
  margin-top: auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100vh;
}

.gap-4 {
  gap: 2rem;
}

.button-animation {
  animation: grow 2s infinite;
  color: #333;
}

@keyframes grow {
  0% {
    font-size: 1rem;
  }

  50% {
    font-size: 1.1rem;
  }

  100% {
    font-size: 1rem;
  }
}

.new-category {
  border: solid 1px #fff;
  padding: 1rem 0;
  background-color: rgb(69, 174, 69);
  color: #fff;
  height: 2rem;
}

.icon {
  height: 4rem;
  width: 4rem;
  border: solid 1px #6f6d6d;
}

.category-details-container {
  border: solid 1px #6f6d6d;
}

.gap-2 {
  gap: 1rem;
}

.entity {
  justify-content: space-between;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.h-4 {
  height: 2rem;
  padding: 1rem;
}

.header {
  background-color: rgb(72, 72, 190);
  height: 5rem;
  padding: 0 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.header h1 {
  color: #fff;
  font-size: 1.4rem;
}

.justify-between {
  justify-content: space-between;
}

#navigation-container,
#signout-container {
  display: none;
}
